@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300..900;1,300..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-brand-bg: #121316;
  --color-brand-card: #1c1d21;
  --color-brand-accent: #00ffcc;
  --color-brand-accent-glow: rgba(0, 255, 204, 0.15);
  --color-brand-neon-purple: #9d4edd;
  --color-brand-neon-pink: #ff007f;
}

body {
  background-color: var(--color-brand-bg);
  color: #e4e6eb;
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #121316;
}
::-webkit-scrollbar-thumb {
  background: #2a2b30;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-accent);
}
